
  </main>

  <aside>
    <h2>My Social Media (External Links)</h2>
    <ul class="mainpage">
      <li><a href="https://www.youtube.com/SunKing2">Louie's YouTube channel: SunKing2</a></li>
      <li><a href="https://connectedweb.wordpress.com">Louie's Blog: connectedweb.wordpress.com</a></li>
      <li><a href="https://www.facebook.com/profile.php?id=100004911847531">Facebook</a></li>
      <li><a href="https://twitter.com/SunKing2">Twitter</a></li>
      <li><a href="https://instagram.com/louievanbommel">Instagram</a></li>
    </ul>
  </aside>

</body>
</html>
