<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AlwaysWantedToPlay.com Louie van Bommel</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>

  <main>
    <header>
      <nav>
        <ul class="mainpage">
          <li><a href="../about">About Louie</a></li>
          <li><a href="https://www.youtube.com/SunKing2">Louie's YouTube channel: SunKing2</a></li>
          <li><a href="https://connectedweb.wordpress.com">Louie's Blog: connectedweb.wordpress.com</a></li>
          <li><a href="https://www.facebook.com/profile.php?id=100004911847531">Facebook</a></li>
          <li><a href="https://twitter.com/SunKing2">Twitter</a></li>
          <li><a href="https://instagram.com/louievanbommel">Instagram</a></li>
          <li><a href="../geekblog/">Programming Articles</a></li>
        </ul>
      </nav>
    </header>
